@font-face {
    font-family: 'ModernRomance';
    src: url('ModernRomance-Regular.woff2') format('woff2'),
        url('ModernRomance-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

