@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1efef;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px 20px;
}

.navigation {
  display: flex;
  align-self: center;
  justify-content: end;
  background-color: #0b5ed7;
  padding: 20px;
}

.navigation button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation button:active {
  background-color: #1297cc;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1.5rem;
  width: 250px;
}

.book-card p {
  margin-bottom: 1rem;
}

.book-card .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-card .btn .toggle-read-btn {
  padding: 5px 6px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #1297cc;
  cursor: pointer;
}

.book-card .btn .toggle-read-btn:hover {
  background-color: #0b5ed7;
  color: #ffffff;
}

.book-card .btn .remove-btn {
  padding: 5px 6px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #1297cc;
  font-size: 1.5rem;
}
.book-card .btn .remove-btn:hover {
  color: #0b5ed7;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .form {
  background-color: #1297cc;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 50%;
}

.form-container .field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.form-container .field label {
  font-weight: bolder;
  text-transform: uppercase;
}

.form-container .field input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
}

.form-container .form button {
  padding: 5px 6px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}

.form-container .form button:hover {
  transform: translateY(-1.5px);
  
}

.form-container .form .button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 2em;
}
