@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #438299;
  --secondaty-color: #57808f;
  --dark-color: #0d262f;
  --hover-effect: #174352;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e0dfdf;
}

.header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: end;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
}

.header .add-btn,
.container .book-card .btn button {
  padding: 10px 20px;
  border-radius: 4.5px;
  border: none;
  outline: none;
  background-color: var(--dark-color);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
}

.header .add-btn:hover,
.container .book-card .btn button:hover {
  background-color: var(--hover-effect);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  padding: 3.5em;
}

.container .book-card {
  background-color: var(--primary-color);
  padding: 10px 20px;
  width: 20%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.container .book-card:hover {
  box-shadow: 7px 7px 7px 7px var(--hover-effect);
  transform: translateY(-3px);
}

.container .book-card p {
  margin-bottom: 1.5em;
  text-transform: capitalize;
  text-align: center;
}

.container .book-card .btn {
  text-align: center;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .form {
  background-color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 4px;
}

.form-container .form .input-container div {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
}

.form-container .form .input-container {
  margin-bottom: 15px;
}

.form-container .form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 2px;
  font-size: 1.5em;
}

.form-container .form button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: var(--hover-effect);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}
