@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #438299;
  --secondaty-color: #57808f;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeded;
}
